/* General Body Styling */
body {
    background-color: black;
    color: green;
    font-family: 'Courier', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Terminal Box Styling */
#terminal-box {
    width: 70%;
    height: 80%;
    border: 3px solid green;
    border-top-width: 29px;
    border-radius: 8px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Terminal Icons */
#terminal-icons {
    position: absolute;
    top: -25px;
    right: 10px;
}

.icon {
    margin-left: 5px;
    font-size: 1.2em;
    font-family: 'Courier', monospace, sans-serif;
}

/* Blog Title with Distortion Effect */
#blog-title {
    font-size: 2.5em;
    text-align: center;
    margin: 0;
    animation: distortion 1.5s infinite;
}

/* Line Separator */
.separator {
    border: none;
    border-top: 1px solid green;
    margin: 10px 0;
}

/* Blog Posts List */
#blog-list-box {
    flex-grow: 1;
    overflow-y: auto;
}

#blog-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
}

#blog-list li {
    margin-bottom: 10px;
}

/* Terminal Interface */
#terminal-interface {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

#terminal-prompt {
    display: flex;
    align-items: center;
    width: 100%;
}

.prompt-symbol {
    margin-right: 10px;
}

#user-input {
    background-color: transparent;
    border: none;
    color: green;
    font-family: 'Courier', monospace;
    font-size: 1.5em;
    width: 100%;
    outline: none;
    caret-color: green;
    padding-left: 1rem;
}

/* Distortion Effect */
@keyframes distortion {
    0% {
        transform: skewX(-5deg);
        filter: blur(0.5px);
    }
    50% {
        transform: skewX(5deg);
        filter: blur(1.5px);
    }
    100% {
        transform: skewX(-5deg);
        filter: blur(0.5px);
    }
}
